
.modal-dialog {
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.modal-content {
    background-color: white;
    border-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-header {
    height: 60px;
    width: 100%;
}

.modal-body {
    bottom: 80px;
    left: 0;
    overflow: auto;
    right: 0;
    position: absolute;
    top: 60px;
    width: 100%;
}

.modal-footer {
    bottom: 0;
    height: 80px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

@media (min-width: 768px) {
    .modal-dialog {
        margin: 0 auto;
        width: 600px;
    }
}

@media (min-width: 768px) and (min-height: 500px) {

    .modal-dialog {
        bottom: 30px;
        top: 30px;
    }

    .modal-content {
        bottom: auto;
    }

    .modal-body {
        position: static;
    }

    .modal-footer {
        position: static;
    }

    .fixed-height .modal-content {
        bottom: 0;
    }

    .fixed-height .modal-body {
        position: absolute;
    }

    .fixed-height .modal-footer {
        position: absolute;
    }
}